<%-include('dash-header') -%>
<header>
  <ul>
    <li>
  <h5>PROFILE: <%= locals.user?user:'No email found'  %></h5>
    </li>
    <li>
      <form id="form"></form>
  <input 
  type="text" 
  id="search" 
  placeholder="Search..." class="search">
</li>
<li>
  <a href="/logout">Logout</a>
</li>
</ul>
</header>

<main id="main">
  
</main>

    <!-- <div class="text-center center-div mt-5" id="login">

      


      <div class="container w-25 border py-5 mt-5">
        <h3>Dashboard</h3>
        <h5><%= locals.user?user:'No email found'  %></h5> -->
<!-- <a href="/logout">Logout</a>
</div>
    </div> -->
<%-include('dash-footer') -%>
