@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Nunito:wght@200&family=Playfair+Display:wght@400;600&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;1,300&family=Slabo+27px&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #23242b;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.movie{
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
    margin: 1rem;
    background-color: #526d5bd8;
}

.movie img{
    width: 100%;
}

.movie-info{
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem .5rem;
    letter-spacing: 1px;
    font-weight: 600;

}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    color: #eee;
    background-color: #b52155de;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
}





/* .center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding: .4em 2em;
}

form{
    padding: 0em 3em;
}

.label{
    font-size: .8em;
} */