<%-include('dash-header') -%>

<header>
  <!-- video -->
  <video src="/static/video/Money.webm" autoplay muted></video>


  <!-- nav -->
  <nav>
<div class="logo_ul">
  <img src="/static/assets/mylogo.ico" alt="">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Series</a>
    </li>
    <li>
      <a href="#">Movies</a>
    </li>
    <li>
      <a href="#">Profile</a>
    </li>
  </ul>
</div>

<div class="search-user">

  <input type="text" placeholder="Search..." id="search_input">
  <img src="" alt="">
</div>
  </nav>

</header>


<br>

    <!-- <div class="text-center center-div mt-5" id="login">

      


      <div class="container w-25 border py-5 mt-5">
        <h3>Dashboard</h3>
        <h5><%= locals.user?user:'No email found'  %></h5> -->
<!-- <a href="/logout">Logout</a>
</div>
    </div> -->
<%-include('dash-footer') -%>
